body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d08fea, #8b26c2);
  color: #000;
}

#weather-dashboard {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(202, 202, 202, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h1, h2 {
  color: #070707;
}

#search-form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #000000;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #87CEEB;
  color: #0b0b0b;
  border-radius: 5px;
}

button {
  padding: 10px 16px;
  background-color: #6bb1f6;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#search-history {
  margin-bottom: 20px;
}

#history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#history-list li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  color: #333;
  text-decoration: wavy;
}

#current-weather {
  margin-bottom: 20px;
}

#forecast-container {
  display: flex;
  flex-wrap: wrap;
}

.forecast-item {
  flex: 1 1 calc(20% - 20px);
  margin: 10px;
  padding: 15px;
  background-color: rgba(154, 152, 152, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 3);
  text-align: center;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .forecast-item {
      flex: 1 1 100%;
  }
}
